@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(rgba(rgb(112, 111, 111), 0.8) 60%, transparent),
    url(../images/back3.jpg) center/cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

// #background {
//   background: url(../images/trees-rough.jpg) center/cover;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: -1;
//   filter: grayscale(45%);
// }
#side-header {
  display: flex;
  flex-direction: column;
  top: 6rem;
  left: 2.5%;
  position: fixed;
  .header-link {
    width: 3rem;
    height: 3rem;
    display: block;
    margin-bottom: 0.6rem;
    border-radius: 50%;
    background: white;
  }
}
main {
  // height: 80vh;
  width: 80%;
  margin: auto;
  margin-top: 6rem;
  .section {
    height: 80vh;
  }

  #home {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 15% auto;
    grid-template-areas:
      'aside-title home-header'
      'aside-body home-photo';

    #aside-title {
      grid-area: aside-title;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      h2 {
        display: inline-block;
        color: blanchedalmond;
      }
    }
    #aside-body {
      background: black;
      grid-area: aside-body;
    }

    #home-header {
      background: rgb(170, 158, 158);
      grid-area: home-header;
      display: flex;
      padding-right: 1rem;
      justify-content: center;
      align-items: center;
      h1 {
        display: inline-block;
      }
    }
    #home-photo {
      // height: 100%;
      background: url(../images/manu_52.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      grid-area: home-photo;
      filter: grayscale(80%);
    }
  }
  #about {
    display: flex;
    background: white;
    justify-content: space-between;
    padding: 3rem;
    padding-top: 4rem;
    // margin: 3rem 1rem;

    #about-photo {
      // margin: 2rem;
      width: 40%;
      height: 100%;
      background: url(../images/manu_38.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: -20px -20px 1px black;
      filter: grayscale(80%);
    }
    #about-content {
      // margin: 2rem;
      width: 40%;
      color: black;
      // background: black;
    }
  }
}

#svg-list {
  display: flex;
  .svg-container {
    height: 1rem;
    width: 1rem;
    // background: white;
    margin: 0.1rem;
  }
}
